.product-container {
  padding-left: 220px;
  padding-right: 220px;
  margin-bottom: 100px;
}
.card-button-group {
  display: flex;
  height: 30px;
  margin-top: auto;
}
.card-button-group .update-item {
  border: none;
  width: 100%;
  border-right: 1px solid #fff;
}
.card-button-group .update-item,
.card-button-group .delete-item {
  background-color: #222831;
  color: #fff;
}
.card-button-group .update-item:hover,
.card-button-group .delete-item:hover {
  background-color: #393e46;
}
.card-button-group .delete-item {
  width: 100%;
  border: none;
}
.not-items {
  font-size: 50px;
  margin-bottom: 312px;
}
.update-link {
  color: #fff;
  text-decoration: none;
}
.update-link:hover {
  color: #fff;
  text-decoration: none;
}
.products-err {
  margin-bottom: 424px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .product-container {
    padding: 0;
    margin-top: 100px;
  }
  .products-err {
    margin-bottom: 250px;
  }
}
