.detail-container {
  padding-left: 220px;
  padding-right: 220px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.row {
  align-items: center;
}
.info-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.items-info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-description {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 20px;
}
.info-star {
  margin-bottom: 30px;
}
.info-seller {
  font-size: 15px;
}
.info-seller span {
  font-weight: bold;
}
.info-seller span a {
  color: #000;
}
.info-price {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
.info-price span {
  color: black;
}
.info-text {
  margin-top: 30px;
  font-weight: bold;
  opacity: 0.7;
}
.info-button {
  display: flex;
  margin-top: 30px;
}
.info-button .teklifBtn {
  width: 100px;
  height: 50px;
  margin-right: 20px;
  border: none;
  background-color: #222831;
  color: #fff;
  border-radius: 5px;
}
.info-button .satinAlBtn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #222831;
  color: #fff;
  border-radius: 5px;
}
.info-button .teklifBtn:hover,
.info-button .satinAlBtn:hover {
  background-color: #393e46;
  color: #e3e3e3;
  transition: 0.3s;
}
.main-slide {
  padding-top: 30px;
}
.carousel .slider-wrapper {
  width: 500px;
  height: 700px;
}
@media screen and (max-width: 768px) {
  .carousel .slider-wrapper {
    width: 350px;
    height: 400px;
  }
  .detail-container {
    padding: 0;
  }
}
