.offer-container {
  padding-left: 220px;
  padding-right: 220px;
  margin-bottom: 200px;
  margin-top: 100px;
}

.offer-item-title p,
.offer-item-price p,
.offer-item-description p,
.offer-item-image p {
  font-size: 20px;
}
.offer-item-title p span,
.offer-item-price p span,
.offer-item-description p span {
  font-weight: bold;
}
.offer-item-image img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
}
.offer-title,
.offer-price,
.offer-description,
.offer-image {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.offer-title input,
.offer-price input,
.offer-description input,
.offer-image input {
  width: 400px;
}

.offer-all-image label:hover {
  cursor: pointer;
}
.offer-all-image img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
}

.col-md-1 img {
  width: 80px;
  margin-left: 20px;
}
.col-md-1 img:last-child {
  display: none;
}
.last-col-md-6 {
  padding-left: 35px;
}
.offer-button {
  width: 100%;
  height: 35px;
  border: none;
  background-color: #222831;
  border-radius: 10px;
  color: #fff;
}
.offer-button:hover {
  background-color: #393e46;
  transition: 0.3s;
}
.offer-all-image .offer-all-image1 > input {
  display: none;
}
.offer-all-image {
  display: flex;
  justify-content: space-between;
}
.offer-title input,
.offer-price input,
.offer-description input {
  border: none;
  background-color: #222831;
  border-radius: 10px;
  color: #fff;
  padding-left: 7px;
}
.offer-title input:focus,
.offer-price input:focus,
.offer-description input:focus {
  background-color: #393e46;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .offer-container {
    padding: 0;
  }
  .col-md-1 img {
    display: none;
  }
  .offer-item-title p,
  .offer-item-price p,
  .offer-item-description p,
  .offer-item-image p {
    font-size: 18px;
  }
  .first-col-md-6 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .col-md-1 img:last-child {
    display: flex;
  }
  .col-md-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .offer-title {
    display: block;
  }
  .offer-price {
    display: block;
  }
  .offer-description {
    display: block;
  }
  .offer-title input,
  .offer-description input,
  .offer-price input {
    width: 100%;
  }
  .offer-all-image {
    display: block;
  }
  .offer-all-image1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
